# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
local.properties
captures/
*.apk
*.aab
*.ap_
*.dex
*.class
*.log

# Kotlin
.kotlin/

# IDE
.idea/
*.iml
.vscode/
*.hprof

# OS
.DS_Store
Thumbs.db

# Keystores/signing
*.jks
*.keystore
keystore.properties